.blog {
  // background-color: #131313;

  &__container {
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
    max-width: 350px;
    height: auto;
    background-color: #131313;
    text-align: center;
  }

  &__title {
    color: #ffffff;
  }
}

.article {
  color: #ffffff;

  &__container {
    width: 310px;
    height: 210px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    cursor: pointer;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        bottom: 54px;
        right: 64px;
        width: 48px;
        height: 14px;
        background: url('/arrow-article.svg') no-repeat center;
        background-size: contain;
        z-index: 3;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to right,
        #2e2e2e 0%,
        rgba(46, 46, 46, 0) 100%
      );
      z-index: 2;
    }
  }

  &__img {
    width: 310px;
    height: 210px;
    object-fit: cover;
    object-position: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 1;
  }

  &__text {
    padding: 20px 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 3;
    align-self: end;
    justify-self: start;

    &--date, &--title, &--author, &--separator, &--comment {
      margin: 0;
    }

    &--title {
      font-size: 24px;
      font-weight: 500;
    }

    &--meta {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &--icon {
      width: 24px;
      height: 24px;
    }
  }

  &__button {
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 4;
  }
}